
!jest.config.js
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk/outputs.json
cdk/appsync/*

*parameters.json
*params.json

frontend/src/exports.js
frontend/src/graphql/mutations.ts
frontend/src/graphql/queries.ts
frontend/src/graphql/subscriptions.ts
frontend/src/API.ts
frontend/build